/* Variables */
:root {
  --primary-color: #ccccff;
  --light-gray: #f9f9f9;
  --dark-gray: #333;
  --border-color: #ccc;
  --base-font-size: 16px;
  --padding-base: 1em;
  --padding-large: 2em;
  --border-radius: 5px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* General Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  padding: var(--padding-base);
  text-align: center;
}

header h1 {
  color: var(--dark-gray);
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center; /* Center navigation links */
}

header nav a {
  margin: 0 var(--padding-base);
  text-decoration: none;
  color: var(--dark-gray);
  padding: var(--padding-base);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

header nav a:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

/* Main Styles */
main {
  flex: 1;
}

main section {
  padding: var(--padding-large);
}

/* Home Section Styles */
#home p {
  font-size: 1.25rem; /* Use rem units */
}

/* About Section Styles */
#about p {
  font-size: 1.25rem;
}

#about ul,
#about ol {
  font-size: 1.25rem;
  list-style-position: inside; /* Move list markers inside */
}

/* Contact Section Styles */
.contact-section { /* BEM class */
  background-color: var(--light-gray);
  padding: var(--padding-large);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: var(--padding-large); /* Add margin for spacing */
}

.contact-section__form { /* BEM class */
  display: flex;
  flex-direction: column; /* Stack form elements vertically */
}


/* Reverted input styles */
.contact-section__form input,
.contact-section__form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-section__form button {
  background-color: var(--primary-color); /* Purple button */
  color: #fff;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Radio Button Styles */
.contact-section__radio { /* BEM class */
  margin-right: 0.5em;
  vertical-align: middle;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

.contact-section__radio:hover {
  border-color: #a3a3e6;
}

.contact-section__label { /* BEM class */
  display: inline-block;
  margin-bottom: 0.5em;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  padding: var(--padding-base);
  text-align: center;
}
